/* your custom css */
h1, h2, h3, h4, p, ul, li, div {
    font-family: 'Roboto', sans-serif;
}

.navGroupCategoryTitle {
    color: #4b4a4a !important;  
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.button.big {
    font-size: 18px;
    padding: 16px;
}

div.blockImage {
    max-width: 50% !important;
}
